<p>Programming book list!</p>
<!--Property Binding-->
<button style="background-color: blueviolet;" (click)="isShowing = !isShowing;" >
   <ng-container *ngIf="isShowing"> Hide Books</ng-container>
   <ng-container *ngIf="!isShowing"> Show Books</ng-container>

</button>
<p>{{myName}}</p>
<ul *ngIf="isShowing">

    <ng-container *ngFor="let book of books; let i = index;">
    <li class="book"> 
       <p class="sno"> {{i+1}}</p>
        <img class="image" [src]="book.image" [alt]="book.name" width="100px">
      <p class="title"> {{book.name | titlecase}} by: {{book.author|uppercase}}</p>  
         <p class="currency">{{book.amount| currency: 'INR'}}</p>
    </li>
</ng-container>
</ul>