    <nav class = "flex justify-between p-4 bg-purple-900 text-white">
      
        <div>
           <a routerLink="/">Book Shop</a>
        </div>
        <div>
            <ng-container *ngIf="!isAuthenticated()">
            <a class="mx-4" routerLink="/login"> Login</a>
                    <a class="mx-4" routerLink="/register"> Register</a>
            </ng-container>
     
            <ng-container *ngIf="isAuthenticated()">
                <a class="mx-4" routerLink="/cart"> My Cart</a>
       
<button (click)="logout()" class="mx-4">Logout</button>
            </ng-container>


      
    </div>
    
    </nav>
    <div class="flex flex-col ...">

<router-outlet> </router-outlet>

    </div>


<!-- 
 
<app-cart></app-cart>   -->

